In [3]:
from tasks.backend import engine_md, with_db_session_p
import pandas as pd

In [5]:
sql_str = """
select md.ts_code,name, trade_date, close
from (
       select md.ts_code, trade_date, close
       from tushare_stock_daily_md md
       where trade_date between '2017-10-23' and '2017-10-25'
       and md.ts_code in (select ts_code from tushare_stock_info where symbol in ("002600", "600575", "603939", "002572", "000783", "000055", "600418", "002092", "002193", "300230", "002358", "300443", "002589", "002229", "002445", "002197", "600416", "300437", "002400", "603003", "600864", "000536", "002169", "000901", "300104"))
     ) md
left join (
       select ts_code, name from tushare_stock_info
       where symbol in ("002600", "600575", "603939", "002572", "000783", "000055", "600418", "002092", "002193", "300230", "002358", "300443", "002589", "002229", "002445", "002197", "600416", "300437", "002400", "603003", "600864", "000536", "002169", "000901", "300104")
     ) info
on md.ts_code=info.ts_code
"""
df = pd.read_sql(sql_str, engine_md)

md_df = df.pivot(index='name', columns='trade_date', values='close')
print('保利1号')
print(md_df)
md_df.to_csv('保利1号.csv', encoding='GBK')

保利1号
trade_date  2017-10-23  2017-10-24  2017-10-25
name
ST中南             14.60       14.58       14.51
中泰化学             14.41       14.29       14.49
乐视网              15.33       15.33       15.33
华映科技              5.55        5.53        5.55
哈投股份              8.27        8.26        8.22
如意集团             16.75       16.66       16.28
方大集团              7.53        7.43        7.60
智光电气              6.65        6.61        6.64
森源电气             15.41       15.24       15.29
永利股份             15.12       15.04       15.26
江淮汽车             10.59       10.49       10.54
清水源              17.98       17.98       17.98
湘电股份             13.09       12.96       12.99
瑞康医药             14.92       14.61       14.81
皖江物流              4.48        4.31        4.33
益丰药房             38.28       39.03       39.17
省广集团              6.46        6.42        6.31
索菲亚              40.50       41.20       42.50
航天科技             27.80       27.79       28.09
证通电子             12.83       12.79       12.99
金雷股份             20.54       20.41       20.59
长江证券              9.35        9.49        9.47
领益智造              8.69        8.60        8.70
鸿博股份             12.96       12.67       12.69
龙宇燃油             14.74       14.46       14.03

In [7]:
sql_str = """
select md.ts_code,name, trade_date, close
from (
       select md.ts_code, trade_date, close
       from tushare_stock_daily_md md
       where trade_date between '2017-12-14' and '2017-12-16'
       and md.ts_code in (select ts_code from tushare_stock_info where symbol in (
       "600575","603939","002572","000783","000055","002092","600418","002193","300230","002358","300443","002589","002445","002229","002197","600416","002400","300437","603003",
       "600864","000536","002169","000901","300104")
       )
     ) md
left join (
       select ts_code, name from tushare_stock_info
       where symbol in (
       "600575","603939","002572","000783","000055","002092","600418","002193","300230","002358","300443","002589","002445","002229","002197","600416","002400","300437","603003",
       "600864","000536","002169","000901","300104"
       )
     ) info
on md.ts_code=info.ts_code
"""
df = pd.read_sql(sql_str, engine_md)

md_df = df.pivot(index='name', columns='trade_date', values='close')
print('保利15号')
print(md_df)
md_df.to_csv('保利15号.csv', encoding='GBK')

保利15号
trade_date  2017-12-14  2017-12-15
name
ST中南             12.95       12.95
中泰化学             13.77       13.57
乐视网              15.33       15.33
华映科技              4.75        4.66
哈投股份              7.51        7.58
如意集团             16.13       16.30
方大集团              6.22        6.15
智光电气              5.26        5.24
森源电气             14.86       14.86
永利股份             12.73       12.53
江淮汽车              9.67        9.54
清水源              15.81       16.18
湘电股份             12.77       13.06
瑞康医药             13.69       13.44
皖江物流              4.10        4.09
益丰药房             44.34       43.62
省广集团              5.74        5.65
索菲亚              34.25       34.24
航天科技             24.90       24.99
证通电子             12.69       12.69
金雷股份             16.90       16.96
长江证券              8.40        8.35
鸿博股份              9.90        9.88
龙宇燃油             12.07       11.93